/* Core Styles */
body {
  background-color: #f7f7f7;
  color: #112d4e;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0px;
}

h2, h3 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.pagebar {
  border-top: 1px solid #112d4e;
  padding: 0;
}

.content {
  margin: 30px 10px;
}

/* Header Section (includes navbar, dropdown and menu) */
.projpage {
  background-image: url('/assets/img/projbackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  font-weight: 100;
  z-index: -1;
}

/* Navbar styling */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.navbarswitch {
  top: 40px;
  position: absolute;
}

.topbar {
  background-color: rgba(17, 45, 78, 0);
  color: #f7f7f7;
  display: flex;
  height: 80px;
  justify-content: space-between;
  text-align: center;
  transition: 0.5s ease-in-out;
  width: 100%;
}

.solidnav {
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(17, 45, 78, 0.97);
  height: 58px;
  transition: 0.5s ease-in-out;
}

/* Little Joe image styling */
.littlejoe {
  display: block;
  margin: 0;
  padding: 8px 8px 4px 8px;
  z-index: 20;
}

.littlejoe img {
  border-radius: 50%;
  height: 64px;
  transition: 0.5s ease-in-out;
  width: auto;
}

.littlejoe a:hover, .littlejoe a:focus {
  opacity: 1;
  outline: none;
}

.amendedjoe img {
  height: 44px;
  transition: 0.5s ease-in-out;
}

/* Burger menu */
.burgermenu {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: auto 10px;
}

.burgermenu:active, .burgermenu:hover {
  outline: none;
}

.bar1, .bar2, .bar3 {
  height: 3px;
  background-color: #f7f7f7;
  margin: 6px 0;
  transition: 0.5s ease-in-out;
  width: 35px;
}

.changebar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
}

.changebar2 {
  opacity: 0;
}

.changebar3 {
  transform: rotate(45deg) translate(-6px, -8px);
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
}

/* Drop down menu */
.dropdownmenu {
  background: rgba(17, 45, 78, 0);
  opacity: 0;
  overflow: none;
  position: fixed;
  text-align: center;
  top: 80px;
  transition: 0.5s ease-in-out;
  width: 100%;
  visibility: hidden;
  z-index: 10;
}

.dropdownmenu a {
  color: #f7f7f7;
  text-decoration: none;
}

.ddshow {
  opacity: 1;
  transition: 0.5s ease-in-out;
  visibility: visible;
}

.changedd {
  background: rgba(17, 45, 78, 0.5);
  top: 58px;
  transition: 0.5s ease-in-out;
}

/* 'Home' on navbar section styling */
.navlink {
  color: #f7f7f7;
  font-weight: 100;
  text-decoration: none;
}

.navlink:after {
  display: none;
}

.navlink:after:hover {
  display: none;
}

.home, .projects, .contact, .about, .skills {
  color: #f7f7f7;
  font-weight: 100;
  margin: 3px;
  padding: 0px;
  text-decoration: none;
}

/* Social Media section  */
.socialmediawrapbig {
  margin: 7px;
}

.socialmedia {
  padding: 5px;
}

.socialmedia img {
  height: 36px;
  padding: 0;
  margin: 0;
  width: 36px;
}

.socialmedia a {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.socialmedia a:hover, a:focus {
  opacity: 0.65;
  transition: 0.3s ease-in-out;
}

.myprojectstitle {
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

.titles {
  padding: 329px 0;
}

.myprojectstitle h1, h2 {
  font-weight: 100;
  text-align: center;
}

/* Projects Section */
.projectsSec {
  margin: 0px 10px;
  width: auto;
}

.projgridwrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

.projectsgrid {
  display: inline-block;
}

/* Project cards styling */
.projectcard {
  border-radius: 5px;
  height: auto;
  padding: 15px 10px;
  width: auto
}

.projectcardimg {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.projectcardcontent {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px 0px;
}

.projectcardimg {
  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
}

.projectcardimg img {
  transition: 0.3s ease;
  width: 100%;
}

.projectcardtxt a {
  color: #3f72af;
  position: relative;
  text-decoration: none;
}

.projectcard h2 {
  font-size: 1.7em;
  margin-bottom: 0;
  margin-top: 0;
}

.projectcardtxt a:after {
  background: none repeat scroll 0 0 transparent;
  background-color: #3f72af;
  bottom: 0px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}

.projectcardtxt a:hover:after, a:focus:after {
  left: 0;
  width: 100%;
}

.projecttechs {
  justify-content: space-around;
  display: flex;
  margin-top: 15px;
  width: 100%;
}

.projecttechs img {
  height: 36px;
  width: auto;
}

.academicfilmandtv h2 {
  margin-bottom: 20px;
}

/* Fading animation */
.fade {
  -webkit-animation: fade 15s;
  animation: fade 10s;
  -moz-animation: fade 5s;
  -o-animation: fade 5s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes fade {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@-o-keyframes fade {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

/* Footer */
footer {
  background-color: #0B1D32;
  color: #f7f7f7;
  margin: 0;
  padding: 15px 10px;
  text-align: center;
}

footer p {
  font-size: 0.75em;
  padding: 10px 0;
}

footer a {
  color: #3f72af;
  transition: 0.3s ease-in-out;
}

footer a:hover, a:focus {
  opacity: 0.65;
  transition: 0.3s ease-in-out;
}

.footersocials img {
  height: 36px;
  width: 36px;
}

.footersocials a {
  transition: 0.3s ease-in-out;
}

.footersocials a:hover {
  opacity: 0.65;
  transition: 0.3s ease-in-out;
}

/* Media Queries */
@media (min-width: 768px) {

  /* Media queries for navbar and dropdown */
  .topbar {
    height: 80px;
    transition: 0.5s ease-in-out;
  }

  .solidnav {
    background-color: rgba(17, 45, 78, 0.97);
    transition: 0.5s ease-in-out;
    height: 58px;
  }

  .burgermenu {
    display: none;
    visibility: hidden;
  }

  .dropdownmenu {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    height: 80px;
    opacity: 1;
    top: 0;
    transition: 0.5s ease-in-out;
    visibility: visible;
    width: 100%;
    z-index: 10;
  }

  .changedd {
    height: 58px;
    transition: 0.5s ease-in-out;
  }

  .dropdownmenu a {
    color: #f7f7f7;
    text-decoration: none;
  }

  .home, .projects, .contact, .about, .skills {
    font-size: 1em;
    padding: 0 5px;
    transition: 0.5s ease-in-out;
  }

  .navlink {
    display: block;
    font-weight: 100;
    margin: 20px 5px;
    position: relative;
    transition: 0.5s ease-in-out;
  }

  .navlink:after {
    background: none repeat scroll 0 0 transparent;
    background-color: #f7f7f7;
    bottom: 1px;
    content: "";
    display: block;
    height: 1.5px;
    opacity: 0;
    left: 50%;
    position: absolute;
    transition: width 0.5s ease 0s, left 0.5s ease 0s, opacity 0.5s ease 0s;
    width: 0;
  }

  .navlink:hover:after, .navlink:focus:after {
    opacity: 1;
    left: 0;
    width: 100%;
  }

  .changenavlink {
    font-weight: 100;
    margin: 10px 5px;
    transition: 0.5s ease-in-out;
  }

  .socialmediawrapbig {
    margin: 16px 4px;
    transition: 0.5s ease-in-out;
  }

  .smallsmwd {
    margin: 5px;
    transition: 0.5s ease-in-out;
  }

  /* Content wrap media queries */
  .projectsSec {
    margin: 0px auto;
    width: 760px;
  }

  .content {
    margin: 50px auto;
    width: 760px;
  }

  /* Projects section media queries */
  @media (min-width: 1200px) {
    .titles {
      padding: 175px 0;
    }

    .projectsSec {
      margin: 0px auto;
      width: 1200px;
    }

    .projectcardcontent {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 20px;
      margin: 20px 50px;
    }

    .content {
      margin: 50px auto;
      width: 1300px;
    }

    .projectcard h2 {
      font-size: 2.2em;
      margin-bottom: 0;
      margin-top: 0;
    }

    .academicfilmandtv h2 {
      margin-bottom: 20px;
    }
