/* Core Styles */

body {
  background-color: #f7f7f7;
  color: #112d4e;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}

/* Header */

.header {
  background-image: url('/assets/img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  font-weight: 100;
  z-index: -1;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbarswitch {
  top: 120px;
  position: absolute;
}

.topbar {
  background-color: rgba(17, 45, 78, 0.6);
  color: #f7f7f7;
  display: flex;
  height: 80px;
  justify-content: space-between;
  text-align: center;
  transition: 0.5s ease-in-out;
  width: 100%;
}

.solidnav {
  background-color: rgba(17, 45, 78, 0.8);
  height: 58px;
  transition: 0.5s ease-in-out;
}

.littlejoe {
  display: block;
  margin: 0;
  padding: 8px 8px 4px 8px;
}

.littlejoe img {
  border-radius: 50%;
  height: 64px;
  transition: 0.5s ease-in-out;
  width: auto;
}

.amendedjoe img {
  height: 44px;
  transition: 0.5s ease-in-out;
}

/* Burger menu */

.burgermenu {
  background-color: transparent;
  border: 0;
  outline: none;
  margin: auto 10px;
}

.burgermenu:active {
  outline: none;
}

.bar1, .bar2, .bar3 {
  height: 3px;
  background-color: #f7f7f7;
  margin: 6px 0;
  transition: 0.4s;
  width: 35px;
}

.changebar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
}

.changebar2 {
  opacity: 0;
}

.changebar3 {
  transform: rotate(45deg) translate(-6px, -8px);
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
}

/* Drop down menu */

.dropdownmenu {
  background: rgba(17, 45, 78, 0.3);
  opacity: 0;
  overflow: none;
  position: absolute;
  text-align: center;
  transition: 0.5s ease-in-out;
  width: 100%;
  visibility: hidden;
  z-index: 10;
}

.changedd {
  background: rgba(17, 45, 78, 0.5);
  transition: 0.5s ease-in-out;
}

.ddshow {
  opacity: 1;
  transition: 0.5s ease-in-out;
  visibility: visible;
}

.dropdownmenu a {
  color: #f7f7f7;
  text-decoration: none;
}

.projects, .contact, .about {
  color: #f7f7f7;
  margin: 5px;
  padding: 0px;
  text-decoration: none;
}

/* Social Media Bar */

.socialmediawrap {
  margin: 10px;
}

.socialmedia {
  padding: 5px;
}

.socialmedia img {
  height: 36px;
  padding: 0;
  margin: 0;
  width: 36px;
}

.socialmedia a {
  opacity: 1;
  transition: 0.3s;
}

.socialmedia a:hover {
  opacity: 0.65;
  transition: 0.3s;
}

/* Intro */

.intro {
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

.intro h2 {
  padding: 300px 0;
  text-align: center;
}

.pagebar {
  padding: 0;
  border-top: 2px solid #112d4e;
}

/* Content wrap */

.content {
  margin: 20px;
}

/* Projects */

.projectsSec {}

.projectsSec h2 {}

.projectsgrid {
  display: grid;
  grid-template-columns: 1fr;
}

/* Contact Us */

.contactus {}

.formItem {
  padding: 50px 0;
}

.formbox {
  background-color: #f7f7f7;
  border: 0.1px solid #393e46;
  color: #393e46;
  font-size: 0.9em;
  margin: 5px 0;
  padding: 8px;
  width: 90%;
}

.howicanhelp {
  background-color: #f7f7f7;
  border: 0.1px solid #393e46;
  color: #393e46;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  height: 4em;
  padding: 8px;
  resize: none;
  width: 90%;
}

.submitbutton {
  background-color: #f7f7f7;
  border: 0.1px solid #393e46;
  color: #393e46;
  font-weight: 300;
  font-size: 0.9em;
  margin: 0 15px 0 0;
  padding: 5px;
  transition: 0.3s;
  width: 50%;
}

.submitbutton:hover {
  background-color: #393e46;
  background-color: #f7f7f7;
  transition: 0.3s;
}

/* About Me */

.aboutme img {
  border-radius: 10px;
  width: 100%;
}

/* Footer */

.footer {
  background-color: #0B1D32;
  color: #f7f7f7;
  margin: 10px 0 0 0;
  padding: 15px 10px;
  text-align: center;
}

.footer p {
  font-size: 0.75em;
  padding: 10px 0;
}

.footersocials img {
  height: 36px;
  width: 36px;
}

.footersocials a {
  transition: 0.3s;
}

.footersocials a:hover {
  opacity: 0.65;
  transition: 0.3s;
}

/* Media Queries */

@media (min-width: 768px) {
  .head {}
  .title {}
  .socialmediawrap {}
  .intro {}
  .gallery {
    width: 50%;
    margin: 0 auto;
  }
  .tabs {
    padding: 0.5em 2em;
    width: 75%;
  }
  .tabs img {
    width: 25%;
  }
  .section-c {
    margin: auto;
    margin-bottom: 2em;
  }
  .bullet, .bulletactive {
    width: 75%;
    margin: 1em auto;
  }
  .section-a, .section-b, .section-c {
    margin: auto;
  }
  .secaactive, .secbactive, .seccactive {
    margin: auto;
  }
}
