/* Core Styles */

body {
  background-color: #f7f7f7;
  color: #112d4e;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3 {
  padding: 0;
}

/* Header */

.header {
  background-image: url('/assets/img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
  font-weight: 100;
  z-index: -1;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbarswitch {
  top: 120px;
  position: absolute;
}

.topbar {
  background: rgba(17, 45, 78, 0.6);
  color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.littlejoe {
  display: block;
  margin: 0;
  padding: 8px;
}

.littlejoe img {
  border-radius: 50%;
  height: 64px;
  width: auto;
}

.burgermenu {
  background-color: transparent;
  border: 0;
  outline: none;
  margin: auto 10px;
}

.burgermenu:active {
  outline: none;
}

.bar1, .bar2, .bar3 {
  height: 3px;
  background-color: #f7f7f7;
  margin: 6px 0;
  transition: 0.4s;
  width: 35px;
}

.changebar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
}

.changebar2 {
  opacity: 0;
}

.changebar3 {
  transform: rotate(45deg) translate(-6px, -8px);
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
}

.dropdownmenu {
  background: rgba(17, 45, 78, 0.3);
  opacity: 0;
  overflow: none;
  position: absolute;
  text-align: center;
  transition: ease 0.5s;
  width: 100%;
  z-index: 10;
}

.ddshow {
  opacity: 1;
  transition: ease 0.5s;
}

.dropdownmenu a {
  color: #f7f7f7;
  text-decoration: none;
}

.projects, .contact, .about {
  color: #f7f7f7;
  margin: 5px;
  padding: 0px;
  text-decoration: none;
}

.socialmediawrap {
  margin: 10px;
}

.socialmedia {
  padding: 5px;
}

.socialmedia img {
  height: 36px;
  padding: 0;
  margin: 0;
  width: 36px;
}

.socialmedia a {
  opacity: 1;
  transition: 0.3s;
}

.socialmedia a:hover {
  opacity: 0.65;
  transition: 0.3s;
}

/* Intro */

.intro {
  color: #f7f7f7;
  display: flex;
  height: 1200px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

.intro h2 {
  padding: 250px 0;
  text-align: center;
}

/* Tabs */

.tabs {
  display: block;
  font-weight: 300;
  position: relative;
  overflow-x: hidden;
}

.tabs img {
  float: left;
  padding: 0 10px 0 0;
  width: 50%;
}

.tabs p {
  clear: left;
}

.tabs h3 {
  margin: 0;
  padding: 10px 0 0 0;
}

.tab-content {
  display: inline-block;
  padding: 15px;
}

.pagebar {
  padding: 0;
  margin: 20px;
  border-top: 1px solid black;
}

/* Section A */

.section-a {
  margin: 20px 0 0 0;
  padding: 0.5em;
}

/* Section B */

.section-b {
  border-radius: 0;
  margin: auto;
  padding: 0.5em;
}

/* Section C */

.section-c {
  margin: auto;
  margin-bottom: 50px;
  padding: 0.5em;
}

/* Content bullet */

.bullet {
  position: relative;
}

.bullettop {
  padding: 1em 3em;
}

.bulletmiddle {
  padding: 1em 3em;
}

.bulletbottom {
  padding: 1em 3em;
}

/* Contact Us */

.formItem {
  padding: 0.5em 0;
}

.formbox {
  background-color: #f7f7f7;
  border: 0.1px solid #393e46;
  color: #393e46;
  font-size: 0.9em;
  margin: 0.5em 0;
  padding: 0.5em;
  width: 90%;
}

.howicanhelp {
  background-color: #f7f7f7;
  border: 0.1px solid #393e46;
  color: #393e46;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  height: 4em;
  padding: 0.5em;
  resize: none;
  width: 90%;
}

.submitbutton {
  background-color: #f7f7f7;
  border: 0.1px solid #393e46;
  color: #393e46;
  font-weight: 300;
  font-size: 0.9em;
  margin: 0 1em 0 0;
  padding: 0.5em;
  transition: 0.3s;
  width: 50%;
}

.submitbutton:hover {
  background-color: #393e46;
  background-color: #f7f7f7;
  transition: 0.3s;
}

/* Section D */

/* About Me */

.aboutme img {
  border-radius: 1em;
  width: 100%;
}

/* Footer */

.footer {
  background-color: #0B1D32;
  color: #f7f7f7;
  margin: 2em 0 0 0;
  padding: 1em 0.5em;
  text-align: center;
}

.footer p {
  font-size: 0.7em;
  padding: 0.5em 0;
}

.footersocials img {
  height: 36px;
  width: 36px;
}

.footersocials a {
  transition: 0.3s;
}

.footersocials a:hover {
  opacity: 0.65;
  transition: 0.3s;
}

/* Media Queries */

@media (min-width: 768px) {
  .head {}
  .title {}
  .socialmediawrap {}
  .intro {}
  .gallery {
    width: 50%;
    margin: 0 auto;
  }
  .tabs {
    padding: 0.5em 2em;
    width: 75%;
  }
  .tabs img {
    width: 25%;
  }
  .section-c {
    margin: auto;
    margin-bottom: 2em;
  }
  .bullet, .bulletactive {
    width: 75%;
    margin: 1em auto;
  }
  .section-a, .section-b, .section-c {
    margin: auto;
  }
  .secaactive, .secbactive, .seccactive {
    margin: auto;
  }
}
